/* latin-ext font Lato */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin font Lato*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {font-family: "Lato", sans-serif; background: url(../img/background1.jpg) no-repeat fixed;}
.mySlides {display: none}
.w3-opacity-min2{opacity:0.95}
.img-catalg{margin-top: 5px; max-height: 200px;}
.img-catalg2{margin-top: 5px; max-height: 300px;}

a:link{ 
text-decoration:none !important; 
} 

a:hover {color:#f04e23 !important;}

.logo{
  margin-top: 25px;
  margin-left: 25px;  
  max-width: 200px;
}

.logoNav{
  margin: 10px 10px 0px;
  max-width: 100px;
  float: left;
}

.pagination li a{
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.pagination li a:hover{
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.pagination li a:focus{
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.pagination li.active span{
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.pagination li span{
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.pagination{
  margin:20px 0 !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.palette-pumpkin {
  background-color: #d35400;
  color: white;
  }

.palette-pumpkin:hover {
  background-color: #E67E22;
  color: white;
  }

  .item2{
    font-size: 11px;
    padding: 2px 16px !important;
  }

  .item3{
    font-size: 23px;
    padding: 12px 4px !important;
  }
  .tab1{
    margin-left: 16px;
  }

  .bgHoverNav{
    position: absolute;width: 100%; height: 100%; z-index: 10; background: rgba(0, 0, 0, 0.71);
  }

  .show{
    display: block !important;
  }

  .hide{
    display: none !important;
  }

  .position{
    position: relative !important;
  }


